html,
body {
  height: 100vh;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  font-family: "Special Elite", serif;
  font-weight: 500;
  font-size: 16px;
}


h2,
.pullquote,
.back-to-observer {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-top: 2vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}



article p {
  text-indent: 2rem;
  line-height: 1.5;
}

.credits {
  font-family: "Playfair Display", serif;
  font-size: 0.75rem;
  list-style-type: none;
  padding: 0;
  margin-top: 5vh;
  text-align: center;
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Image styling */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  max-height: 50vh;
  opacity: 1;
}

#image1 {
  opacity: 1;
}

#image2{
  opacity: 0.5;
}

.gallery {
  margin: 0 auto;
  text-align: center;
}

/* Textbox styling */

#text {
  margin-top: 5vh;
  /*margin-bottom: 2vh;*/
  text-align: center;
  height: 8vh;
  font-size: .75rem;
}

/* Button Styling */

button {
  background-color: white;
  border: none;
  vertical-align: middle;
  display: inline-block;
  align-items: center;
  outline: none;
  
}

.btn:focus {
  opacity: 1;
  outline: none;
}

.btn {
  font-size: 40px;
  opacity: 0.4;
  padding-left: 10vw;
  padding-right: 10vw;
  outline: none;

}

.js-prev {
  float: left;
  right: 30px;
}

.js-next {
  float: right;
  left: 30px;
}

#prev {
  display: inline-block;
}

#next {
  display: inline-block;
}


.buttons {
  text-align: center;
  margin-top: 5px;
  /*margin-bottom: 1vh;*/
}

.buttons:on-click{
  outline: none;
}