html,
body {
  height: 100%;
  /*width: 100%;*/
  margin: 0;
  padding: 0;
  font-family: "Special Elite", serif;
  font-weight: 500;
  font-size: 16px;
}


h2,
.pullquote,
.back-to-observer {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}



article p {
  text-indent: 2rem;
  line-height: 1.5;
}

.credits {
  font-family: "Playfair Display", serif;
  font-size: 0.75rem;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


img {
  /*height: 60vh;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50vw;
  max-height: 50vh;
  opacity: 1;
}

#image1 {
  opacity: 1;
}

#image2{
  opacity: 0.5;
}


.gallery {
  /*width: 80vw;*/
  margin: 0 auto;
  text-align: center;
/*  opacity: 0.5;*/
}

.main-image {
  padding-left: 5vw;
  padding-right: 5vw;
}

.buttons {
  text-align: center;
  margin-bottom: 1vh;
}

button {
  background-color: white;
  border: none;
  vertical-align: middle;
  display: inline-block;
  align-items: center;
  outline: none;
  z-index: 4;
  /*position: relative;*/
  /*display: inline-block;*/
}

.btn:focus {
  opacity: 1;
  outline: none;
}

/*button:active {
    box-shadow: none;;
}*/

.btn {
  font-size: 40px;
  opacity: 0.4;
  padding-left: 10vw;
  padding-right: 10vw;
  outline: none;

}

.js-prev {

}

.js-next {

}

#prev {
  display: inline-block;
}

#next {
  display: inline-block;
}

button:on-click
