
.image {
	width: 60vw;
	padding-top: 15vh;
	padding-left: 5vw;
}

img {
	width: 100%;
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* Back to Observer Classes */
.back-to-observer {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.parting-page {
  height: 100vh;
  background-size: cover;
  background-image:url("../img/0.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.credits {
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: black;
}
