html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

h1 {
  margin: 0;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 15vmin;
  text-align: center;
}

h2,
.back-to-observer {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.landing-page, .parting-page {
  position: relative;
  z-index: 100;
  height: 100vh;
  background-color: #EBEBEB;
  text-align: center;
}

.artist-statement {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 34vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  /*background-color: red;*/

}

.artist-statement > p {
  width: 75%;

  text-align: center;
  /*background-color: white;s*/
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.gallery {
  height: 100vh;
}*/

.bounded-width {
  width: 66vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bounded-width > div {
  width: 50%;
}

img {
  padding: 10%;
  max-width: 100%;
  height: auto;
}
