html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
}

h1 {
  margin: 0;
  font-style: italic;
  font-size: 20px;
  text-align: center;
  color: white;
}

h2,
.back-to-observer {
  font-weight: 900;
 
  font-size: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.landing-page{
  position: relative;
  z-index: 100;
  height: 100vh;
  background-size: cover;
  /*background: blue;*/
  background-image:url("../img/0.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.parting-page {
  position: relative;
  z-index: 100;
  height: 100vh;
  background-size: cover;
  /*background: blue;*/
  background-image:url("../img/4.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;

}


.artist-statement {
  z-index: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 34vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #a66056;

}

.artist-statement > p {
  width: 75%;

  text-align: center;
  font-size: 2vmin;
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
.gallery {
  height: 100vh;
}*/

.bounded-width {
  width: 66vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bounded-width > div {
  width: 50%;
}


img {
  padding: 10%;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  text-align: center;
  color: white;
}




