html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
  /*font-weight: 400;*/
  font-size: 16px;
  font-style: italic;
}

h1 {
  margin: 0;
  font-size: 1.25rem;
  text-align: center;
  color: white;
}

.back-to-observer {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.landing-page,
.parting-page {
  height: 100vh;
  background-size: cover;
  background-image:url("../img/0.JPG");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.parting-page {
  background-image:url("../img/4.JPG");
}

.artist-statement {
  position: absolute;
  top: 100vh;
  right: 0;
  width: 34vw;
  height: 100vh;
  padding: 0;
  text-align: center;
  font-size: calc(8px + .5vw);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a66056;
}

.artist-statement > p {
  width: 75%;
}

.bounded-width {
  width: 66vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bounded-width > a {
  width: 50%;
  padding: 5%;
}

img {
  max-width: 100%;
  height: auto;
}

.credits {
  padding: 0;
  list-style-type: none;
  text-align: center;
  color: white;
}

.vertically-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-aspect-ratio: 3/2) {
  .bounded-width {
    width: 100%;
    height: auto;
  }

  .bounded-width > a {
    width: 100%;
  }

  .artist-statement {
    position: static;
    width: 100%;
    height: auto;
    padding-top: 100px;
    font-size: 0.875rem;
  }
}
